################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AIFounday-SemanticKernel-1/.vs
/AIFounday-SemanticKernel-1/AIFounday-SemanticKernel-1/bin/Debug/net8.0
/AIFounday-SemanticKernel-1/AIFounday-SemanticKernel-1/obj
/AIFounday-SemanticKernel-1/AIFounday-SemanticKernel-1/bin/Release/net8.0
/AIFounday-SemanticKernel-1/AIFoundry-Agents/bin
/AIFounday-SemanticKernel-1/AIFoundry-Agents/obj
/AIFounday-SemanticKernel-1/SemanticKernel-AIAgent/bin
/AIFounday-SemanticKernel-1/SemanticKernel-AIAgent/obj
/AIFounday-SemanticKernel-1/PPP.AI.ProjectValidator/bin/Debug/net8.0
/AIFounday-SemanticKernel-1/PPP.AI.ProjectValidator/obj
/AIFounday-SemanticKernel-1/Isurance.AI.Advisor/bin/Debug/net8.0
/AIFounday-SemanticKernel-1/Isurance.AI.Advisor/obj
